*{
    margin:0;
    padding:0;
}

body{
  box-sizing: border-box;
  overflow-x: hidden;
}


/* nav{
  margin:0 auto;
  left:0;
  right:0;
  z-index: 1;
} */
/* body {
    padding:0;
    margin:20px 0 20px 0;
    background: #eee;
    color: #000;
    text-align:center;
    font-size:1.2em;
    font-family: 'Open sans';
    z-index: 999; 
    box-sizing: border-box;
    position: relative;  
  } */

  p,a,address,.nav-menu li a{
    font-family: 'Open sans'
  }  
  
  h1 {
      /* width:fit-content; */
      width:auto;
      margin-bottom:25px; 
      position:relative;
      color: #551255;
      text-align: center; 
      font-size: 2em; 
      font-family: 'Open sans' 
  } 
  
  h2{
    color: #ffffff; 
    margin:0;
    padding: 0;
  }

  h3{
    color: #ffffff; 
    margin:10px 0 10px 0;
    padding: 0;
  }
  
  h4, h5, h6 {
    margin: 0 0 10px 0;
    padding: 0
  }
  
  .text-left{
    text-align:left
  }
  
  /* Back to top button */
  .back-to-top {
    position: fixed;
    display: none;
    background: red;
    color: #4E4E50;
    padding: 3px 8px;
    font-size: 20px;
    border-radius: 2px;
    right: 30px;
    bottom: 10px;
    transition: background 0.5s
  }
  
  .back-to-top:focus {
    background: red;
    color: #fff;
    outline: none
  }
  
  .back-to-top:hover {
    background:red;
    color: #4E4E50
  }
  @media(max-device-width:768){
    .back-to-top{
      bottom:20px;
    }
  }
  
  @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1300px) {
      .back-to-top{
      bottom: 25px;
      right: 10px
  } 
  }
  
  @media only screen 
     and (min-device-width: 375px)  
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) { 
      .back-to-top {
        bottom: 5px;
        right: 10px;
      }  
    }

    @media only screen and (max-width: 600px){
    .container{
      --bs-gutter-x: 0;
    }

    .offcanvas-header, .offcanvas-body{
      margin-left:50px;
    }

    .logo{
      visibility: hidden;
    }
    .navbar-toggler-icon {
      margin-right: 10px;
    }

    .offcanvas-header .btn-close{
      color:#fff;
      margin-right: 10px;
    }

    footer {
      text-align: center;
    }

    .social-media{
      margin: 15px;
    }

    footer .col h5 {
    margin: 10px auto;
  }

  /*form section*/
  .con, .map, .form {
    text-align: center;
  }

  .form-section .submit {
  margin: 0 0 0 130px;
  }

}
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  /* #header {
    padding: 0 0 0px 0;
    position: fixed;
    color: #fff;
    background-color:#8b008b;
    left: 0;
    top: 0;
    right: 0;
    z-index: 9;
    border-bottom: 1px solid #ffffff
  } */

  /* #header{
    color:#000;
    padding:20px;
    justify-content:space-between;
    align-items:center;
    position: sticky;
    top:0;
    transition:background-color 0.5s ease;
  }

  #header #logo img{
    float: left;
    width: 5%;
    height: 5%;
    margin: 5px 0 5px 0;
  } 
  
  #header #logo h1 a, #header #logo h1 a:hover {
    color: #fff;
    
  } */
  /* 
  #header #logo img {
    padding: 0;
    margin: -30px 0 0 0px
  } */
  /* 
  @media (max-width: 600px) {
    #header #logo h1 {
      font-size: 26px
    }
    #header #logo img {
      max-height: 80px
    }
  } */
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Nav Menu Essentials */
  /* .nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size:1.2rem;
  }
  
  .nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99
  }
  
  .nav-menu li {
    position: relative;
    white-space: nowrap
  }
  
  .nav-menu > li {
    float: left
  }
  
  .nav-menu li:hover > ul{
     display: block  
  }
  
  .nav-menu ul ul {
    top: 0;
    left: 100%
  }
  
  .nav-menu ul li {
    min-width: 180px
  } */
  
  /* Nav Menu Container */
  #nav-menu-container {
    float: right;
  }
  
  @media (max-width: 767px) {
    #nav-menu-container {
      display: none
    }
  }
  
  /* Nav Menu Styling */
  .nav-menu a {
    padding: 15px 8px 1px 8px;
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    outline: none
  }
  
  .nav-menu > li {
    margin-left: 10px
  }
  
  .nav-menu > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s
  }
  
  .nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }
  
  /* Mobile Nav Toggle */
  #mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 5px 0px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer
  }
  
  #mobile-nav-toggle i {
    margin: 20px;
    color: #000
  }
  
  @media (max-width: 767px) {
    #mobile-nav-toggle {
      display: inline
    }
  }
  
  /* Mobile Nav Styling */
  #mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    left: -100%;
    width: 100%;
    height: 30%; 
    overflow-y: auto;
    transition: 0.4s
  }
  
  #mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none
  }
  
  #mobile-nav ul li {
    position: relative
  }
  
  #mobile-nav ul li a {
    color: #000;
    /* font-size: 16px; */
    overflow: hidden;
    padding: 10px 0px 8px 0px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none
  }
  
  #mobile-nav ul li a:hover {
    color: #fff
  }
  
  #mobile-nav ul li li {
    padding-left: 30px
  }
  
  #mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff
  }
  /* 
  @media(min-width:767px){
  #mobile-nav {
    width:100%;
    left:100%;
    height:24%
  }
  } */
  
  /* 
  #mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #2dc997;
  }
  
  #mobile-nav ul .menu-item-active {
    color: #2dc997;
  }
  
  #mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(52, 59, 64, 0.9);
    display: none;
  } */
  
  /* Mobile Nav body classes */
  body.mobile-nav-active {
    overflow: hidden
  }
  
  body.mobile-nav-active #mobile-nav {
    left: 0
  }
  
  body.mobile-nav-active #mobile-nav-toggle {
    color: #fff
  }
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero .bg-img{
    /* background-size: cover;  */
    object-fit:cover;
    background-position: center;
    height: 100vh;
    width: 100%;  
    position:relative; 
    top:0; 
    left:0;
    right:0;
    bottom:0;
    z-index: -1;
  }
   
   #hero h1{  
    padding:3px 100px 5px 100px;
    margin:0px 0px 0px 0px;
    background-color: #fff;
    position:absolute;
    top: 65%;
    animation: animate 2s linear forwards;
}

@media only screen and (max-width: 600px){
#hero h1 {
  padding: 0px 0px 0px 0px;
}
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%
}
  
/* #hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
} */

  /* 
  .hero-content{
  background:url("../img/logo/nav_logo.png")center no-repeat ;
  } */
  
  /* #hero h1{
    margin:0;
    padding:0;
    position:absolute;
    top:75%;
    left:50%; 
    transform: translate(-50%,-50%);
    width: 100%;
    text-align:center;
  } */
  
  /* .hero-content{
    font-size: 1.4em;
  } */
   
  /* h1 span{
      display:inline-block;
      animation:animate 2s linear forwards
  }
   */
  @keyframes animate{
      0%{
          opacity:0;
          transform:rotateY(90deg);
          filter:blur(10px)
      }
  
      100%{
          opacity:1;
          transform:rotateY(0deg);
          filter:blur(0px)
      }
  }
/*   
  #hero:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0
  } */
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed
    }
  }
  
  @media (max-width: 767px) {
    #hero img{
      width:100%;
      background-position:center;
      
    } 
    #hero h1{
        font-size: 1.6rem;
    }
  }
  
  @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) {
      #hero{
        height:100vh
      }
  
      /* #hero h1{
        top:60%
      } */
  
      .logo_lg{
        width:50%;
        top:40%;
        left: 56%
    }
  }
  
  /* Portrait and Landscape */
  @media only screen 
    /* and (min-device-width: 375px)  */
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) { 
      #hero{
        height:90vh
      }
      #hero h1{
        top:85%;
        /* font-size:2.2em; */
      }
      .logo_lg {
        width: 30%;
        top: 55%;
        left: 55%;
    }
  }

  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-device-width: 767px) {
    .column {
      flex: 100%;
      max-width: 100%
    }
    #portfolio .filter-btn ul li {
      flex: 100%;
      margin:5px 0
    }
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1023px)  {
    .column {
      flex: 50%;
      max-width: 50%
     
    }
    
    #portfolio .filter-btn ul li {
      flex: 50%;
      margin:5px 0
    }
  } 
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1300px)  {
    .column {
      flex: 33.33%;
      max-width: 33.33%
    }
    
    #portfolio .filter-btn ul li {
      flex: 33.33%;
      margin:5px 0
    }
  } 
  
  @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) { 
      #portfolio{
        padding: 5px 50px;
      }
  
      #portfolio .filter-btn {
      padding :0
      }
      .column {
        flex: 25%;
        max-width: 25%;
        padding: 0 4px
      }
    }
       
/*gallery Section*/
#gallery .underline{
  width:100%;
  height:2px;
  background: #551255;
  border-radius:3px;
  position:absolute;
  top:35px;
  left:0;
  overflow:hidden;
  }

#gallery .underline span{
    width:15px;
    height:100%;
    background: #fff;
    border-radius:2px;
    position:absolute;
    top:0;
    left:10px;
    animation:moving 3s linear infinite;
  }

#gallery{
  padding-top:30px;
}

#gallery .card h2{
  color:#fff;
  text-align: center;
}

/*  
#gallery img{
  width:100%;
  height:100vh;
  aspect-ratio: 3/2;
  object-fit:contain; 
}  */

.card {
  position: relative;
  width: 200px;
  height: 250px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0px 5px 20px 5px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 208px;
  height: 260px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

/* .card p:not(.heading) {
  font-size: 14px;
} */

.card p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card:hover::after {
  filter: blur(30px);
 }

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.25) scaleY(0.80);
}

.card span {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  /* color: var(--hover-text); */
  border-radius: 5px;
  font-size: 0em;
  font-weight:normal;
  transition: all .3s cubic-bezier(.6,.4,0,1);
}

.card:hover span {
  color:#000;
  font-size: 1.5em; 
} 

.card:hover>img {
  -webkit-filter: blur(2px);
  filter: blur(3px);
}

/* gallery media query */
@media only screen and (max-width: 600px) {
.g-4, .gx-4 {
  --bs-gutter-x: 0rem;
}

#gallery {
  padding-top: 0px;
}
}

  /* About Us Section
  --------------------------------*/
  #about {
    padding-top:15px;
  }
  
  #about h2{
    margin-top: 50px
  } 
  #about h4{
    margin-top: 5px
  } 
  .display{
    display:inline
  }
  
  #about .about-container .title {
    color: #ffffff;
    margin-bottom: 10px
  }
  
  #about .about-container p {
    line-height: 26px
  }
  
  #about .about-container p:last-child {
    margin-bottom: 0
  }
  
  #about .about-container .icon-box {
    padding: 0 0 20px 0
  }
  
  #about .about-container .icon-box .icon {
    float: left;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #000
  }
  
  #about .about-container .icon-box .icon1 {
    left:0
  }
  
  #about .about-container .icon-box .icon2 {
    left:46px
  }
  
  #about .about-container .icon-box .icon3 {
    left:55px
  }
  
  #about .a{
    left:-24px
  }
  
  #about .i{
    left:0px
  }
  #about .p{
  left:-36px
  } 
  
  #about .about-container .icon-box .icon i {
    color: #fff;
    /* font-size: 20px */
  }
  
  #about .about-container .icon-box .title a {
    color: #fff;
    padding-left: 24px
  } 
  
  #about .about-container .icon-box .description {
    margin-left: 60px;
    line-height: 24px
  }
  
  @media (max-width: 767px) {
    #about .about-container .title {
      padding-top: 8px
    }
    #about .about-container .text-center{
      text-align: left
    }
    .icon i{
      text-align:center
    }
  
    #about .about-container .icon-box .title {
        margin-bottom: 15px
    } 
  
    /* #about .about-container .icon-box .title a {
       padding-left: 15px 
  } */
  
  #about .about-container .icon-box .description {
      margin-left: 0
  }  
    #about .about-container .icon-box .icon1 {
      left:25px
    }
    
    #about .about-container .icon-box .icon2 {
      left:25px
    }
    
    #about .about-container .icon-box .icon3 {
      left:25px
    }
    
  #about .a{
    left:-100px
  }
  
  #about .i{
    left:-75px
  }
  
  #about .p{
  left:-20px
  } 
  }
  
  @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) {
      #about .about-container .icon-box .icon1 {
        left: 28px
    }
  
    #about .about-container .icon-box .icon2 {
      left: 30px
  }
  
  #about .about-container .icon-box .icon3 {
    left: 10px
  }
  
  #about .a {
      left: 5px
  }
  
  #about .i {
    left: 0
  }
  
  #about .p {
    left: 0 
  }
  }
  
  @media only screen 
  and (min-device-width: 1024px)
   and (max-device-width: 1300px){
    #about .about-container .icon-box .icon1 {
      left: 15px;
  }
  #about .about-container .icon-box .icon2 {
    left: 28px;
  }
  
  #about .p {
    left: -50px;
  }
  }
  
  @media only screen 
    /* and (min-device-width: 375px)  */
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3) { 
  #about {
    padding: 0px 0;
  }
  #about .about-container .icon-box {
    padding: 0 0 10px 0;
  }
    }
  /* Contact section from  The Enevnet */
  /*--------------------------------------------------------------
  # Contact Section
  --------------------------------------------------------------*/
  #contact .underline{
    width:100%;
    height:2px;
    background: #551255;
    border-radius:3px;
    position:absolute;
    top:35px;
    left:0;
    overflow:hidden;
    }
  
  #contact .underline span{
      width:15px;
      height:100%;
      background: #fff;
      border-radius:2px;
      position:absolute;
      top:0;
      left:10px;
      animation:moving 3s linear infinite;
    }

  #contact {
    padding-top: 80px;
    padding-bottom:15px;
  }
  
  #contact .contact-info a{
    margin: 0 0 0 15px;  
  }
  
  #contact .contact-info i {
    display: inline-block;
    color: #000;
  }
  
  /* #contact .contact-info address{
    color: #ffffff;
    margin-bottom: 0;
    float:left
  } */
  .contact-email,.contact-phone, .contact-whatsapp{
    margin-bottom:15px
  }
  
  #contact .contact-info p {
    color: #ffffff;
    margin-bottom: 0 
  }
    
  #contact .contact-info a {
    color:#000
  }
  
  #contact .contact-info a:hover {
    color: #8b008b
  }

  .con,.map,.form{
    text-align:left;
    color:#000;
    text-decoration: underline;
  }


  /* #contact .contact-info .contact-address{
  float:left
  } */
  
  /* #contact .e-call{
    border-right: 3px solid #4E4E50
  }
   */
  /* #contact .contact-address{
    margin: 0 80px
  } */
  
  
  /* #contact .form input,
  #contact .form textarea {
    padding: 8px 12px;
    box-shadow: none;
    border-radius: 10px;
    border:none;
  } */
/*   
  .form-section{
    text-align: center
  }
   */
  .form-section input,
  textarea {
      border: 1px solid #000;
      background: #fff;
      color:#000;
      display: block;
      margin-bottom: 8px;
      width: 100%;
      display: inline-block;
      padding:5px;
     
    }
  
  .form-section textarea {
        margin-bottom:0
  }
    
  .form-section .submit {
      border-radius: 50px;
      border: 2px solid #4E4E50;
      background: #ffffff;
      color: #4E4E50;
      margin: 0 160px 10px;
      padding: 5px 24px
  }
  
  .form-section .submit:hover {
    border: 2px solid #ffffff;
    background: #551255;
    color: #fff;
  } 
  
  /* Media query for contact section */
  @media (max-width: 767px) {
    .contact{
      text-align: center
  } 
    /* #contact .contact-phone,
    #contact .contact-email {
      padding:0px 0px 0px 30px;
      margin-left: 5px
    } */
  
    #contact .contact-address svg {
      text-align: left; 
  }
    /* #contact .e-call{
      border-right:none
    } */
    
    /* .form-section .submit {
      text-align: center;
      margin: 0px 0px 20px; 
    }  */
  
    .map{
      margin-bottom:60px
    }
  }
  
  @media only screen 
  and (min-device-width: 1024px)
   and (max-device-width: 1300px){
    .form-section .submit {
      margin: 0 100px 10px;
    }
  }
/*   
   @media only screen 
    and (min-device-width: 375px)  
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3) 
    and (orientation: landscape){ 
  .form-section .submit{
    margin: 0px 200px 10px;
  }
} */
  
  /*
  #contact {
    padding: 0px 0 50px 0;
  }
    } */
  /* 
  @media (max-width: 800px) {
    .cont-p{
      margin: 20px;
      text-align: center
    }
     .map{
      margin-bottom:50px
    }
    #contact .e-call{
      border-right: none
    }
    #contact .contact-address {
      margin:0px
  }
  } */
 
 
  /*-------------------------------------------------------*/
/* .navbar{
  overflow: hidden;
  position:fixed;
  top:0;
  width:100%;
}

.nav-link{
  float:right;
  text-align: center;
  display: block;  
}

  .nav-link::after{
    content:'';
    opacity:0;
    transition:all 0.2s;
    height:2Px;
    width:100%;
    background-color:#8b008b;
    position:absolute;
    bottom:0;
    left:0;
  }
  
  .nav-link:hover::after{
   opacity:1;
  } */


  .navbar{
    z-index: 1;
    background: linear-gradient(to right, #fc00ff,#551255);
  }

  .navbar:hover .nav-link{
    color:#fff;
  }

  .navbar-toggler{
    border:none;
    font-size:1.25rem;
  }

  .navbar-toggler:focus, .btn-close:focus{
   box-shadow:none;
   outline:none;
  }

  .offcanvas{
    background-color:#551255;
    max-width:100%;
  }

  .nav-link{
    color:#fff;
    font-weight: 500;
    position: relative;
  }

  .nav-link:hover, .nav-link.active{
    color:#fff;
  }

  @media (min-width:991px){
  .nav-link::before{
    content:'';
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    width:0;
    height:2Px;
    transition:all 0.2s;
    background-color:#fff;
    visibility: hidden ;
    /* transition: 0.3s ease-in-out;  */
  }
}

  .nav-link:hover::before{
    width:100%;
    visibility: visible;
}  

/* footer section */
footer{ 
width:100%;
bottom:0;
background: linear-gradient(to right, #fc00ff,#551255);
color:#fff;
padding:5px 0 0 0;
border-top-left-radius:125px;
font-size:1.2rem;
}

footer .row{
  width:100%;
  margin:auto;
  display:flex;
  flex-wrap:wrap;
  align-items:flex-start;
  justify-content: space-between;
}

footer .col:last-child{
  flex-basis:40%;
}

footer .col{
  flex-basis:20%;
  padding:0px 0px 0px 0px;
}

footer .logo{
  width:10%;
  margin-bottom:10px;
}

footer .footer-info span{
  margin-left:15px;
  font-size:1.7rem
}

footer .col h5{
  width:fit-content;
  margin-bottom:10px;
  position:relative;
}

footer .underline{
  width:100%;
  height:5px;
  background: #fff;
  border-radius:3px;
  position:absolute;
  top:25px;
  left:0;
  overflow:hidden;
  }

footer .underline span{
  width:15px;
  height: 100%;
  background: #551255;
  border-radius:2px;
  position:absolute;
  top:0;
  left:10px;
  animation:moving 2s linear infinite;
}

@keyframes moving{
  0%{
    left: -20px;
  }
  100%{
    left:100%;
  }
}

footer ul{
  padding-left: 0;
}

footer ul li{
  list-style:none;
  font-size:16px;
  line-height: 1.6;
}

footer .social-media a{
  font-size:2rem;
  padding:2px 10px 2px 10px;
  border-radius: 50%;
  background-color: #fff;
  color:#551255;
}  

footer .social-media a:last-child{
    padding:2px 15px 2px 15px;
}
  
  footer .social-media a:hover{ 
    background-color:#551255;
    color:#fff;
  }

  hr{
    width:90%;
    border:0;
    border-bottom:2px solid #fff;
    margin: auto;
  }

  .copyright{
    font-size: 1rem;
    padding:5px 0px;
  }
 
@media(max-width:700px){
  footer{
    bottom:unset;
  }

footer .col:first-child{
  padding-top:20%;
  flex-basis:100%;
}

footer .col{
  flex-basis:100%;
 
}

footer .col h5{
  width:fit-content;
  margin-bottom:20px;
  position:relative;
}
}
  
  /* #footer .social-media a{
  font-size: 50px;
  display: inline-block;
  background: #ffffff; 
  color:#000; 
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 36px;
  transition: 0.3s;
  z-index:0;
  text-decoration: none;
  } */
  
  /* #footer .social-media a:hover {
  background: ffffff;
  color: #eee
  } */
  

  .row-cols-1{
    text-align: center;
  }
  


 .footer-info .underline{
    width:100%;
    height:5px;
    background: #fff;
    border-radius:3px;
    position:absolute;
    top:25px;
    left:0;
    overflow:hidden;
    }
  
  .footer-info .underline span{
    width:15px;
    height: 100%;
    background: #551255;
    border-radius:2px;
    position:absolute;
    top:0;
    left:10px;
    animation:moving 2s linear infinite;
  }

  .footer-info hr{
    width:100%;
    border:0;
    border-bottom:2px solid #fff;    
    margin:auto;
  }

  